html, body {
  min-height: 100%;
}

#footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.stringdb-only {
  display: none;
}

.card-header .fa-chevron-down {
  transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa-chevron-down {
  transform: rotate(180deg);
}

#submit-alignment {
  margin-top: 2.55ex;
}

#button-howto {
  margin-top: 2.55ex;
  margin-left: 1em;
}

.dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #dee2e6;
}

/*
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
}
*/
